*{
    margin: 0;
    padding: 0;
}
.grid{
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto auto auto auto auto ;
    min-height: 100vh;
    background-color: black;
}
.item-1{
    grid-column: 1 / 7;
    background-color: rgb(33, 209, 33);
}
.item-2{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-color: rgb(122, 43, 226);
}
.item-3{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: rgb(33, 209, 33);
}
.item-4{
    grid-column: 3 / 6;
    grid-row: 2 /4;
    background-color: red;
}
.item-5{
    grid-column: 6 / 7;
    grid-row:  2 / 4;
    background-color: rgb(122, 43, 226);
}
.item-6{
    grid-column: 1 / 2;
    grid-row: 3 / 5;
    background-color: rgb(122, 43, 226);
}
.item-7{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    background-color: rgb(33, 209, 33);
}
.item-8{
    grid-row: 4 / 5;
    grid-column: ;
    background-color: red;
}
.item-9{
    grid-row: 4 / 5;
    grid-column: 3  / 4;
    background-color: red;
}
.item-10{
    grid-row: 4 / 5;
    grid-column: 4 / 5;
    background-color: red;
}
.item-11{
    grid-row: 4 / 5;
    grid-column: 5 / 7;
    background-color: rgb(33, 209, 33);
}